body {
    font-family: Arial, sans-serif;
    margin: 10px;
}

div {
    padding: 10px;
}

h3 {
    margin-left: 25px;
}

table {
    border-spacing: 25px;
}

button {
    margin-left: 25px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(182, 206, 247, 0.822);
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    width: 15px;
    background-color: rgb(255, 225, 169);
}

p {
    margin-top: 20px;
    margin-left: 25px;
}